In [74]:
#y=mx1+mx2+mx3+......+b

In [87]:
import pandas as pd
import numpy as np
from  sklearn import linear_model

In [90]:
df=pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [124]:
df.bedrooms.median()

#abscalculate median

4.0

In [123]:
import math
m_broom=math.floor(df.bedrooms.median())
m_broom

4

In [93]:
df.bedrooms.fillna(m_broom)

# To fill the median values to missing values

# to assign

df.bedrooms=df.bedrooms.fillna(m_broom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [94]:
#age=pd.DataFrame(df.age)
#bedrooms=pd.DataFrame(df.bedrooms)
#area=pd.DataFrame(df.area)

# can get each data

In [113]:
reg=linear_model.LinearRegression()

In [114]:
# Drop the price and take all as X

In [116]:
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [117]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [118]:
reg.intercept_

221323.00186540443

In [121]:
reg.predict([[3000,4,15]])

array([602590.07937407])